.form {
    width: 600px;
    height: 600px;
    padding: 100px;
}



/* @media(max-width:320px) {
    .form {
        width: 400px;
        height: 400px;
        left: 0 !important;
    }
}

@media (min-width:321px) and (max-width:480px) {
    .form{
        width: 450px;
        height: 450px;
        right: 0 !important;
    }
}

@media (min-width:481px) and (max-width:600px) {
    .form{
        width: 500px;
        height: 500px;
        left: 0;
    }
} */